* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #234821;
  --colorp: #285d25;
  --bgmain: #f3fff2;
}
body {
  font-family: "Josefin Sans", sans-serif;
  color: #222222;
}
.pp-top {
  padding-top: 110px;
}
.pp-bottom {
  padding-bottom: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-60 {
  margin-bottom: 60px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-100{
    padding-bottom: 100;
}
.pt-50 {
  padding-top: 50px;
}
.btstmp {
    background-color: #329d23;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    border: 0;
    padding: 13px 33px 13px 27px;
    border-radius: 6px;
    font-size: 16px;
    position: relative;
  }
  .btstmp a {
    color: white;
    text-decoration: none;
    z-index: 1;
    position: relative;
  }
  .btstmp::before {
    content: "";
    background-color: #1936169d;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px;
    transition: transform 0.5s;
    transition: all 0.3s ease-in;
  }
  .btstmp:hover::before {
    width: 100%;
  }
  .btsss {
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    margin: auto;
    border: 1px solid #329D23;
    padding: 13px 33px 13px 27px;
    border-radius: 6px;
    font-size: 16px;
    position: relative;
    padding: 12px 36px;

  }
.btsss a{
    color: #329D23;
    text-decoration: none;
    z-index: 1;
    position: relative;
}
.btsss::before {
    content: "";
    background-color: #329D23;
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    border-radius: 6px;
    transition: transform 0.5s;
    transition: all 0.3s ease-in;
    
  }
  .btsss:hover::before {
    height: 100%;
  }
  .btsss:hover a{
    color: white;
    transition: transform 0.5s;
    transition: all 0.3s ease-in;
  }
/*----------------------------start navbar-----------------*/
.navbar {
  background-color: #fff;
  z-index: 5;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-item {
  margin-right: 38px;
}
.nav-item a {
  color: #234821 !important;
  font-size: 16px !important;
  padding: 31px 10px;
  position: relative;
  font-weight: bold;
}
.nav-item a::before {
  content: "";
  background-color: #329d23;
  bottom: 0;
  position: absolute;
  width: 0%;
  height: 3px;
  right: 5px;
  left: 2px;
  transition: 0.4s;
}
.nav-item a:hover {
  color: #329d23 !important;
}
.nav-item a:hover::before {
  width: 100%;
}
.dropdown-menu {
  width: 100px;
}
.dropdown :hover:ul {
  display: block;
}
@media (max-width: 991px) {
  .navbar {
    padding: 20px 25px;
    z-index: 1;
  }
  .navbar ul {
    margin-top: 21px;
  }
  .navbar ul li {
    text-align: center;
  }
  .navbar ul li a {
    width: 100px;
    margin: auto;
  }
  .collapse .btstmp {
    display: block;
    margin: auto;
  }
  .navbar .nav-item a{
    padding: 15px 15px;
  }
  .nav-link .dropdown-menu{
        width: 100px;
  }
}
/*----------------------end navbar-------------------*/

/*----------------start carousel----------------------*/
.carousel {
  position: relative;
  margin-top: 103px;
   z-index: -2;
}
.carousel-item {
  height: 100vh !important;
}
.carousel-item img {
  height: 100%;
}

.carousel .info {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 64%;
}
.carousel .info h1 {
  font-size: 90px;
  font-weight: 700;
}
.carousel .info p {
  font-size: 20px;
  margin-bottom: 37px;
}
.carousel .info a {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  padding: 8px 13px;
  text-decoration: none;
  border-radius: 9px;
  margin-top: 16px;
}
.carousel-control-prev,
carousel-control-next {
  width: 3% !important;
}
.leftIcaon {
  left: 0;
  position: absolute;
  border: 1px solid wheat;
  padding: 50px 5px;
  background-color: darkgrey;
}
.righticon {
  right: 0;
  position: absolute;
  border: 1px solid wheat;
  padding: 50px 5px;
  background-color: darkgrey;
}
@media (max-width: 991px) {
  .carousel .info h1 {
    font-size: 30px;
  }
}
/*---------------------end slider--------------------------*/

/*-----------------strat about----------------------------*/

.about-img img {
  width: 100%;
}
.about-caption {
  padding-left: 40px;
}
.about-title h1 {
  color: var(--color);
  font-size: 50px;
  font-weight: 700;
}
.about-title p {
  color: var(--colorp);
  font-size: 18px;
}
/*----------end about------------------------------*/

/*---------------------start services----------------*/
.services .title h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--color);
}
.feature-img img {
  height: 455px;
}
.single-service {
  background-color: var(--bgmain);
}
.feature-caption {
  color: var(--colorp);
  padding: 60px 31px;
  height: 455px;
}
.feature-caption span {
  display: block;
  padding-bottom: 30px;
}
.feature-caption h3 {
  font-size: 22px;
}
.feature-caption p {
  font-size: 18px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 350px) and (max-width: 767px) {
  .single-service .feature-caption {
    height: 385px;
  }
  .feature-caption p {
    margin-bottom: 40px;
  }
  .services .title h1{
    font-size: 25px;
}
}
/*---------------------end services----------------*/

/*--------------------start counter----------------*/
.counter{
    text-align: center;
}
.single-counter span,
.single-counter p {
  display: inline-block;
  color: var(--color);
  font-weight: 700;
  font-size: 50px;
}
/* .single-counter p{
    display: inline-block;
} */
.pre-counter p {
  color: #10285d;
}
.counter {
  border-bottom: 1px solid #dee2e6;
}
/*--------------------end counter--------------------------*/

/*------------------start about2-------------------------------*/
.about2 {
  color: var(--color);
}
.about2 .head h1 {
  font-size: 50px;
  font-weight: 700;
}
.about2 .head p {
  font-size: 18px;
}
.about2 .feature-single {
  display: flex;
}
.feature-text {
  margin-left: 17px;
}
.about2right .about2-img {
  position: relative;
}
.about2right .about2-img img{
    width: 100%;
}
.about2-img .info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #285D25;
  padding: 31px 31px;
  color: white;
  width: 173px;
  
}
.about2-img .info2 {
  left: 170px;
  background-color: #329D23;
}
.about2-img .info p{
    font-size: 18px;
}
.about2right .about-img img {
  width: 100%;
}
@media only screen  and (max-width: 767px) {
    .about2-img .info {
        width: 140px;
        font-size: 5px;
        padding: 10px;
    }
    .about2-img .info img{
        width: 50px;
    } 
    .about2-img .info2 {
        left: 140px;
    }
}
/*-----------------------end about2---------------------*/
.video{
    background-image: url(images/video-bg.png.webp);
    background-size: cover;
    height: 650px;
    position: relative;
}
.video .video-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #329D23;
    color: white;
    position: absolute;
    top: 48%;
    left: 43%;
    font-size:45px
}
.modal-body iframe{
    width: 100%;
}.modal-content{
    background-color: transparent;
    border: 0;
}
@media only screen and (min-width: 350px) and (max-width: 767px) {
    .video .video-icon{
        left: 35%;
    }
  
  }
/*-------------------end video-----------------------------*/

/*--------------------------start tips------------------*/
.tips .title h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--color);
}
.tips-user{
    background-color: #F3FFF2;
    padding: 15px;
}
.tips-user .tips-caption{
    padding-left: 44px;
}
.tips-user .tips-caption h3 a{
color: var(--color);
font-weight: 700;
text-decoration: none;
}
.tips-user .tips-caption h3 a:hover{
    color: #329D23;
}
.tips-user .tips-caption p{
    color: var(--colorp);
    font-size: 18px;
    line-height: 1.8;

}
.tips-user .tips-caption .read{
    color: #329D23;
}
.tips-user .tips-caption .read:hover{
    letter-spacing: 1.3px;
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 350px) and (max-width: 767px) {

    .tips .title h1{
      font-size: 25px;
  }
  }
  /*------------------------end tips-------------------------*/

  /*-------------------------start about3--------------------*/

.startup-detail{
    padding-left: 10%;
    padding-top: 80px;
}
.need-caption h2{
    font-size: 50px;
    font-weight: 700;
    color: var(--color);
}
.need-caption p{
    font-size: 19px;
    color: var(--colorp);
    line-height: 1.7;
}
.need-contact ul{
    display: flex;
    list-style: none;
    padding-left: 0 !important;
}
.need-contact ul li:nth-of-type(2) {
    color: var(--color);
    margin-left: 29px;
    font-size: 20px;
}
.startup-detail .btsss{
    margin: 0;
}

  .startup-img{
    background-image: url(images/about3.png.webp);
    background-size: cover;
    height: 700px;
    /* width: 100%; */
  }
  @media only screen and (min-width: 350px) and (max-width: 767px) {
    .startup-img{
        height: 500px;
    }
    .startup-detail{
        margin-bottom: 50px;
    }
  }
  /*-------------------------end startup--------------------------------*/

  /*-------------------------start footer----------------------------------*/
.footer-area{
    background-color: #F3FFF2;
    color: var(--colorp);
}
.footer-social {
/* color: var(--colorp); */
}
.footer-p p{

    font-size: 18px;
}
.footer-social a{
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    padding-top: 9px;
    color: var(--color);
    margin-left: 20px;
    font-size: 22px;
    background-color: rgba(50,157,35,0.06);
    display: inline-block;
}
.fotter-content1 ul{
    padding-left: 0 !important;
}
.fotter-content1 ul li{
    list-style: none;
    margin-bottom: 20px;
}
.fotter-content1 ul li a{
    color: var(--colorp);
    text-decoration: none;
   font-size: 16px; 
}.fotter-content1 .head h2{
    font-size: 22px;
}
.conul{
    padding-left: 51px;
}
.copyright p{
    font-size: 19px;
    font-weight: 700;

}





















